.window_title_bar {
    background: rgb(50, 50, 51);
    width: 100%;
    height: 30px;
    display: flex;
}

/* 菜单栏 */
.menu_bar {
    width: fit-content;
    height: 100%;
    display: inline-block;
}

/* 菜单栏标题 */
.menu_button {
    display: inline-flex;
    height: 100%;
    padding: 0 14px;
    color: #ddd;
    font-size: 13px;
    text-align: center;
    align-items: center;
    cursor: default;
    user-select: none;
    position: relative;
}

/* 菜单背景 */
.menu_list {
    display: none;
    position: absolute;
    list-style: none;
    width: 250px;
    padding: 9px 0 7px 0;
    margin: 0;
    left: 0;
    top: 100%;
    /* 菜单背景 */
    background: rgb(37, 37, 38);
    /* 阴影 */
    box-shadow: 0px 5px 20px #666;
}

.menu_button:hover .menu_list {
    display: block;
}

/* 分隔栏 */
.menu_list .split::before {
    width: 90%;
    height: 1px;
    content: "";
    display: inline-block;
    background: #aaa;
    margin: 4px 0;
}

.menu_list .split {
    font-size: 0;
}

/* 菜单选项 */
.menu_list li a {
    display: block;
    text-align: left;
    padding: 4px 20px;
    font-size: 13px;
    width: 100%;
    color: #eee;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

/* 菜单选项选中背景 */
.menu_list li:hover {
    background: rgb(9, 71, 113);
}

/* 选项右侧文字 */
.right_item_text {
    float: right;
}

.svg_icon {
    height: fit-content;
    width: 35%;
    fill: #fff;
    font-size: 0;
}

/* 左上角logo区域 */
.logo_icon {
    display: inline-block;
    height: 100%;
    width: 30px;
    flex-grow: 0;
}

/* 需要内容居中的区域 */
.content_center {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

/* 左上角logo */
.logo_icon_img {
    height: 70%;
    width: 70%;
    object-fit: contain;
}

/* 标题区域 */
.title_text {
    font-size: 14px;
    color: #eee;
    flex-grow: 1;
    user-select: none;
}

/* 右上角三个按钮区域 */
.window_buttons {
    float: right;
    height: 100%;
    width: 140px;
}

/* 三个按钮 */
.win_btn {
    display: inline-block;
    height: 100%;
    width: 33.3%;
    cursor: default;
    text-decoration: none;
    color: rgb(204, 204, 204);
}

/* 变色速度 */
.h_gy,
.h_rd {
    transition: 0.5s;
}

/* hover后的变色 */
.h_gy:hover {
    background: rgb(70, 70, 71);
}

.h_rd:hover {
    background: rgb(215, 21, 38);
}